body{

font-family:Segoe UI;

margin:0;

min-height:100vh;

padding:40px 0;

display:flex;

justify-content:center;

background-image:url("weatherimg.jpg");

background-size:cover;

background-position:center;

background-attachment:fixed;

color:white;

}



/* Container */

.container{

background:rgba(0,0,0,0.45);

backdrop-filter:blur(10px);

padding:40px;

border-radius:25px;

width:420px;

max-width:90%;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,0.5);

}



/* Header */

.logo{

font-size:42px;

}

h1{

margin:5px 0;

font-size:36px;

}

.subtitle{

margin-bottom:10px;

}



/* Input */

input{

padding:14px;

width:90%;

border-radius:12px;

border:none;

font-size:17px;

}



/* Buttons */

.buttons{

margin-top:10px;

}

button{

padding:12px 20px;

border:none;

border-radius:12px;

margin:6px;

cursor:pointer;

background:white;

color:black;

font-size:15px;

transition:0.3s;

}

button:hover{

transform:scale(1.08);

}



/* Weather Result */

#weatherResult{

margin-top:25px;

font-size:22px;

line-height:1.8;

min-height:150px;

transition:0.4s;

}



/* Smooth Animation */

.fade{

opacity:0;

transform:translateY(10px);

}

.show{

opacity:1;

transform:translateY(0px);

transition:0.5s;

}



/* Forecast */

#forecast{

margin-top:25px;

display:flex;

justify-content:center;

gap:12px;

flex-wrap:wrap;

min-height:120px;

}



/* Forecast Cards */

.forecastCard{

background:rgba(255,255,255,0.25);

padding:14px;

border-radius:20px;

width:80px;

text-align:center;

font-weight:bold;

transition:0.3s;

}

.forecastCard:hover{

transform:translateY(-6px);

}



/* Colored Icons */

.weatherIcon{

font-size:32px;

margin:5px 0;

}



/* History */

.historyItem{

background:rgba(255,255,255,0.25);

padding:10px;

margin:6px auto;

border-radius:10px;

width:170px;

cursor:pointer;

transition:0.3s;

}

.historyItem:hover{

background:rgba(255,255,255,0.4);

}



/* Dark Mode */

.dark .container{

background:rgba(0,0,0,0.7);

}

.dark button{

background:#333;

color:white;

}