body{

font-family:Segoe UI;

margin:0;

min-height:100vh;

padding:40px 0;

display:flex;

justify-content:center;

background-image:url("https://images.unsplash.com/photo-1534088568595-a066f410bcda");

background-size:cover;

background-position:center;

color:white;

}


/* Overlay */

body::before{

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.25);

z-index:-1;

}


/* Container */

.container{

background:rgba(255,255,255,0.15);

backdrop-filter:blur(12px);

padding:40px;

border-radius:20px;

width:420px;

max-width:90%;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,0.3);

}



/* Header */

.logo{

font-size:40px;

margin-bottom:5px;

}


h1{

margin:5px 0;

font-size:34px;

}


.subtitle{

margin-bottom:10px;

}


.datetime{

margin-bottom:15px;

font-size:14px;

}



/* Input */

input{

padding:12px;

width:85%;

border-radius:10px;

border:none;

font-size:16px;

outline:none;

}



/* Buttons */

.buttons{

margin-top:10px;

}


button{

padding:10px 18px;

border:none;

border-radius:10px;

margin:6px;

cursor:pointer;

background:white;

color:black;

font-size:15px;

transition:0.3s;

}


button:hover{

transform:scale(1.05);

}



/* Weather */

#weatherResult{

margin-top:20px;

font-size:20px;

line-height:1.6;

}



/* Forecast */

#forecast{

margin-top:20px;

display:flex;

justify-content:center;

gap:10px;

flex-wrap:wrap;

}


.forecastCard{

background:rgba(255,255,255,0.25);

padding:10px;

border-radius:15px;

width:70px;

text-align:center;

}



/* Icons */

img{

width:70px;

}



/* History */

#history{

margin-top:10px;

}



/* DARK MODE */

.dark{

color:white;

}


.dark .container{

background:rgba(0,0,0,0.6);

}


.dark button{

background:#333;

color:white;

}



/* Mobile */

@media(max-width:500px){

.container{

width:95%;
padding:25px;

}

}